.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  user-select: none;
}
.container-border {
  box-sizing: border-box;
  border: 2px solid #e9ff2394;
}
.bg-alert {
  background-color: #e03c8a43;
}
.hp-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.hp-name {
  width: 150px;
  text-align: left;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  text-shadow: 0.2rem 0rem 0.5rem #58b2dc, -0.2rem 0rem 0.5rem #58b2dc,
    0rem 0.2rem 0.5rem #58b2dc, 0rem -0.2rem 0.5rem #58b2dc;
}
.hp-percent {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 0.2rem 0rem 0.5rem red, -0.2rem 0rem 0.5rem red,
    0rem 0.2rem 0.5rem red, 0rem -0.2rem 0.5rem red;
}
.hp-disparity {
  font-size: 30px;
}
.hp-name-light {
  color: red;
}
